body {
    background-color: #F2F2F2;
}

.topo-fixo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.tabs .indicator {
    background-color: white;
}

.titulo {
    font-size: 1.3em;
    margin-left: 5%;
    margin-right: auto;
}

.section {
    padding-top: 125px;
}